@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .cards_card {
        width: 355px;
        height: 412px;
    }
    .card__img {
        margin: 30px 0;
    }
    .card__cost {
        font-size: 20px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        place-items: center;
        gap: 20px;
    }
    .footer__menu {
        padding-left: 220px;
    }
    .product__line {
        display: none;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .product__img {
        width: 50%;
    }
    .product__img_mr {
        margin-left: 20px;
    }
    .product__desc__mt {
        margin: 0;
    }
    .footer__menu {
        padding-left: 100px;
    }
    .product__img_mt {
        margin: 0 20px;
    }
    .product__desc {
        font-size: 18px;
    }
    .product__text {
        font-size: 18px;
        font-weight: 400;
    }

}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header__title {
        font-size: 70px;
    }
    .cards_card {
        width: 455px;
        height: 512px;
    }
    .card__img {
        margin: 50px 0;
        width: 30%;
    }
    .card__cost {
        font-size: 20px;
    }
    .card__title {
        font-size: 28px;
    }
    .card__link {
        padding: 14px 60px;
        font-size: 18px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        place-items: center;
        gap: 10px;
    }
    .footer__nav .footer__menu {
        display: none;
    }
    .product__line {
        display: none;
    }
    .product__img_mt {
        width: 25%;
    }
    .nav .menu {
        margin-left: 30px;
    }
}
@media (max-width: 540px) {
    .container {
        max-width: 540px;
    }
}